<!DOCTYPE html>
<html lang="en" ng-app="LocalCart" ng-controller="IndexController as indexController">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LocalCart</title>
  <link href="static/css/bootstrap.css" rel="stylesheet">
  <link href="static/css/custom.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <script type="text/javascript" src="static/controller.js"></script>
</head>

<body>
  <br>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home">Local Cart</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <!-- merchant toolbar -->
          <div ng-show="indexController.current_user == 'merchant'">
            <a href="" class="btn btn-info">Welcome [[indexController.current_user]]!</a>
            <a href="merchant" class="btn btn-info">View Profile</a>
            <a href="inventory" class="btn btn-info">View Inventory</a>
            <a ng-click="indexController.logout()" class="btn btn-success">Logout</a>
          </div>
          <!-- customer toolbar -->
          <div ng-show="indexController.current_user == 'customer'">
            <a href="" class="btn btn-info">Welcome [[indexController.current_user]]!</a>
            <a href="" class="btn btn-info" data-toggle="modal" data-target="#myModal">View Shopping List</a>
            <a ng-click="indexController.logout()" class="btn btn-success">Logout</a>
          </div>
          <div ng-show="indexController.current_user == ''">
            <input ng-model="indexController.User.username" class="form-control" placeholder="Username" required autofocus>
            <input ng-model="indexController.User.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <a ng-click="indexController.loginAttempt()" class="btn btn-success">Login</a>
            <a href="register" class="btn btn-success">Register</a>
          </div>
        </form>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
  <hr>
  <div class="col-sm-12">
    <div class="row">
      <div class="container col-sm-offset-2 col-sm-5">
        <input ng-model="indexController.searchQuery" type="text" placeholder="Search for item!" class="form-control">
      </div>
      <div class="container col-sm-5">
        <a href="" ng-click="indexController.search()" class="btn btn-primary">Search and Map Results</a>
        <a href="" ng-click="indexController.search()" class="btn btn-primary">Map current list: </a>
      </div>
    </div>
    <br>
    <div ng-hide="indexController.query != ''">
      <h2>Welcome back [[indexController.current_user]]. Enter a search query to continue!</h2>
    </div>
    <div ng-show="indexController.query != ''">
      <div class="container col-sm-5">
        <h2>Search Results for [[indexController.query]]</h2>
        <br>
        <div class="table scrolly">
          <div ng-repeat="result in indexController.searchResults" class="media">
            <div class="col-sm-9">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h3 class="media-heading">[[result.name]]</h3>
                <h5>Store: [[result.storeName]]</h5> [[result.description]]
                <hr>
              </div>
            </div>
            <div class="col-sm-2">
              <button ng-click="indexController.addItem([[$index]])" type="button" class="btn btn-default" data-dismiss="modal">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="indexController.query == ''">
      <div class="container col-sm-5">
      </div>
    </div>
    <div class="LocalCartMap">
      <!-- put map here -->
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=2609EllsworthStreet&zoom=12&center=37.8716,-122.2727&key=AIzaSyBkTNmmKUDXA82v1479nIbcjPuYfS58098" allowfullscreen></iframe>
    </div>
    <!-- /container -->
  </div>
  </div>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your Shopping List</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-pills">
            <li ng-repeat="list in indexController.shoppingLists" ng-class="{active:indexController.isSet($index)}">
              <a href ng-click="indexController.setTab($index)">[[list.listName]]</a>
            </li>
            <li>
              <input placeholder="New list name"type="text" ng-model="indexController.newListName">
            </li>
            <li>
              <button type="button" ng-click="indexController.addList()" class="btn btn-success">Add List +</button>
            </li>
          </ul>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Store
                </th>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Item Cost</th>
                <th>Picture</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in indexController.shoppingLists[indexController.tab].contents">
                <td>[[row.storeName]]</td>
                <td>[[row.name]]</td>
                <td>[[row.description]]</td>
                <td>[[row.price]]</td>
                <td><img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" alt="..."></td>
                <td><a ng-click="indexController.remove($index)" class="btn btn-danger">X</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <input placeholder="Item Name" type="text" ng-model="indexController.newItemName">
          <button type="button" class="btn btn-default" ng-click="indexController.addTextItem()">Add new item</button>
          <button type="button" class="btn btn-danger" ng-click="indexController.removeList()">Delete this list!</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
