<!DOCTYPE html>
<html lang="en" ng-app="LocalCart" ng-controller="InventoryController as inventoryController">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LocalCart</title>
  <link href="static/css/bootstrap.css" rel="stylesheet">
  <link href="static/css/custom.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script type="text/javascript" src="static/controller.js"></script>
</head>

<body>
  <br>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home">Local Cart</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <!-- customer toolbar -->
          <div ng-show="inventoryController.current_user != ''">
            <a href="" class="btn btn-info">Welcome [[inventoryController.current_user]]!</a>
            <a href="merchant" class="btn btn-info">View Profile</a>
            <a href="inventory" class="btn btn-info">View Inventory</a>
            <a ng-click="inventoryController.logout()" class="btn btn-success">Logout</a>
          </div>
          <!-- not logged in toolbar -->
          <div ng-hide="inventoryController.current_user != ''">
            <input ng-model="inventoryController.User.username" class="form-control" placeholder="Username" required autofocus>
            <input ng-model="inventoryController.User.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <a ng-click="inventoryController.loginAttempt()" class="btn btn-success">Login</a>
            <a href="register" class="btn btn-success">Register</a>
          </div>
        </form>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
  <hr>
  <div class="col-sm-12">
    <div class="container">
      <h2>Your Store!</h2>
      <input ng-model="inventoryController.tempItem.name" placeholder="Enter Name">
      <input ng-model="inventoryController.tempItem.description" placeholder="Enter Description">
      <input ng-model="inventoryController.tempItem.price" placeholder="Enter Price">
      <input ng-model="inventoryController.tempItem.picture" placeholder="Enter Picture">
      <a ng-click="inventoryController.addItem()" class="btn btn-primary">Add Item</a>
      <table class="table table-hover scrolly">
        <thead>
          <tr>
            <th>Item #</th>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Item Cost</th>
            <th>Picture</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in inventoryController.inventory">
            <td>[[row.index]]</td>
            <td>[[row.name]]</td>
            <td>[[row.description]]</td>
            <td>[[row.price]]</td>
            <td><img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" alt="..."></td>
            <td><a ng-click="inventoryController.edit([[row]])" class="btn btn-warning">Edit</a></td>
            <td><a ng-click="inventoryController.remove([[$index]])" class="btn btn-danger">X</a></td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>
  </div>
</body>

</html>
