<!DOCTYPE html>
<html lang="en" ng-app="LocalCart" ng-controller="MerchantController as merchantController">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LocalCart</title>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/custom.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    
    <script src="static/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="static/controller.js"></script>
  </head>

  <body>
    <br>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home">Local Cart</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <input type="text" placeholder="Search for item!" class="form-control">
            <a href=""  class="btn btn-primary">Search</a>
            <a href="login"  class="btn btn-success">Login</a>
            <a href="register"  class="btn btn-success">Register</a>
            <a href="merchant"  class="btn btn-success">Placeholder to merchant</a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <hr>
    <div class="col-sm-12">
      <div class="container panel col-sm-offset-2 col-sm-8">
        <div class="jumbotron">
          <div ng-hide="merchantController.editable">
            <h2>Welcome [[merchantController.storeInfo.storeName]]</h2>
          </div>
          <div ng-show="merchantController.editable">
            <h2>Store Name<input ng-model="merchantController.tempStoreInfo.storeName" ng-show="merchantController.editable"></h2>
          </div>         
          <div ng-hide="merchantController.editable">
            <h4>Address: [[merchantController.storeInfo.storeAddressLine1]]</h4>
          </div>
          <div ng-show="merchantController.editable">
            <h4>Address: <input ng-model="merchantController.tempStoreInfo.storeAddressLine1" ng-show="merchantController.editable"></h4>
          </div>         
          <div ng-hide="merchantController.editable">
            <h4>City: [[merchantController.storeInfo.storeCity]]</h4>
          </div>
          <div ng-show="merchantController.editable">
            <h4>City: <input ng-model="merchantController.tempStoreInfo.storeCity" ng-show="merchantController.editable"></h4>
          </div>
          <div ng-hide="merchantController.editable">
            <h4>State: [[merchantController.storeInfo.storeState]]</h4>
          </div>
          <div ng-show="merchantController.editable">
            <h4>State: <input ng-model="merchantController.tempStoreInfo.storeState" ng-show="merchantController.editable"></h4>
          </div>
          <div ng-hide="merchantController.editable">
            <h4>Zip Code: [[merchantController.storeInfo.storeZip]]</h4>
          </div>
          <div ng-show="merchantController.editable">
            <h4>Zip Code: <input ng-model="merchantController.tempStoreInfo.storeZip" ng-show="merchantController.editable"></h4>
          </div>
          <div ng-hide="merchantController.editable">
            <h4>Phone Number: [[merchantController.storeInfo.storePhone]]</h4>
          </div>
          <div ng-show="merchantController.editable">
            <h4>Phone Number: <input ng-model="merchantController.tempStoreInfo.storePhone" ng-show="merchantController.editable"></h4>
          </div>
          <div ng-hide="merchantController.editable">
            <h4>Description: [[merchantController.storeInfo.storeDescription]]</h4>
          </div>
          <div ng-show="merchantController.editable">
            <h4>Description: <input ng-model="merchantController.tempStoreInfo.storeDescription" ng-show="merchantController.editable"></h4>
          </div>
          <br>
          <div ng-show="merchantController.editable">
            <p>
              <a class="btn btn-lg btn-success" href="#" ng-click="merchantController.saveInfo()" role="button">Save</a>
              <a class="btn btn-lg btn-success" href="#" ng-click="merchantController.cancel()" role="button">Cancel</a>
            </p>
          </div> 
          <div ng-hide="merchantController.editable">
            <p><a class="btn btn-lg btn-success" href="#" ng-click="merchantController.editInfo()" role="button">Edit Info</a></p>    
          </div>
          <p><a class="btn btn-lg btn-success" href="inventory" role="button">View Store</a></p>
        </div>

      </div> <!-- /container -->
    </div>
    

  </body>
</html>     