<!DOCTYPE html>
<html lang="en" ng-app="LocalCart" ng-controller="MerchantController as merchantController">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LocalCart</title>
  <link href="static/css/bootstrap.css" rel="stylesheet">
  <link href="static/css/custom.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script type="text/javascript" src="static/controller.js"></script>
</head>

<body>
  <br>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home">Local Cart</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <div ng-show="merchantController.current_user != ''">
            <a href="" class="btn btn-info">Welcome [[merchantController.current_user]]!</a>
            <a href="merchant" class="btn btn-info">View Profile</a>
            <a href="inventory" class="btn btn-info">View Inventory</a>
            <a ng-click="merchantController.logout()" class="btn btn-success">Logout</a>
          </div>
          <div ng-hide="merchantController.current_user != ''">
            <input ng-model="merchantController.User.username" class="form-control" placeholder="Username" required autofocus>
            <input ng-model="merchantController.User.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <a ng-click="merchantController.loginAttempt()" class="btn btn-success">Login</a>
            <a href="register" class="btn btn-success">Register</a>
          </div>
        </form>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
  <hr>
  <div class="col-sm-12">
    <div class="container panel col-sm-offset-2 col-sm-8">
      <div class="jumbotron">
        <h2>Welcome [[merchantController.current_user]]</h2>
        <div ng-hide="merchantController.editable">
          <h2>Store Name:[[merchantController.storeInfo.name]]</h2>
        </div>
        <div ng-show="merchantController.editable">
          <h2>Store Name:<input ng-model="merchantController.tempStoreInfo.name" ng-show="merchantController.editable"></h2>
        </div>
        <div ng-hide="merchantController.editable">
          <h4>Address: [[merchantController.storeInfo.address_street]]</h4>
        </div>
        <div ng-show="merchantController.editable">
          <h4>Address: <input ng-model="merchantController.tempStoreInfo.address_street" ng-show="merchantController.editable"></h4>
        </div>
        <div ng-hide="merchantController.editable">
          <h4>City: [[merchantController.storeInfo.address_city]]</h4>
        </div>
        <div ng-show="merchantController.editable">
          <h4>City: <input ng-model="merchantController.tempStoreInfo.address_city" ng-show="merchantController.editable"></h4>
        </div>
        <div ng-hide="merchantController.editable">
          <h4>State: [[merchantController.storeInfo.address_state]]</h4>
        </div>
        <div ng-show="merchantController.editable">
          <h4>State: <input ng-model="merchantController.tempStoreInfo.address_tate" ng-show="merchantController.editable"></h4>
        </div>
        <div ng-hide="merchantController.editable">
          <h4>Zip Code: [[merchantController.storeInfo.address_zip]]</h4>
        </div>
        <div ng-show="merchantController.editable">
          <h4>Zip Code: <input ng-model="merchantController.tempStoreInfo.address_zip" ng-show="merchantController.editable"></h4>
        </div>
        <div ng-hide="merchantController.editable">
          <h4>Phone Number: [[merchantController.storeInfo.phone_number]]</h4>
        </div>
        <div ng-show="merchantController.editable">
          <h4>Phone Number: <input ng-model="merchantController.tempStoreInfo.phone_number" ng-show="merchantController.editable"></h4>
        </div>
        <div ng-hide="merchantController.editable">
          <h4>Description: [[merchantController.storeInfo.description]]</h4>
        </div>
        <div ng-show="merchantController.editable">
          <h4>Description: <input ng-model="merchantController.tempStoreInfo.description" ng-show="merchantController.editable"></h4>
        </div>
        <br>
        <div ng-show="merchantController.noStore">
          <p>
            <a class="btn btn-lg btn-success" href="#" ng-click="merchantController.createStore()" role="button">Create Store</a>
          </p>
        </div>
        <div ng-show="merchantController.editable && !merchantController.noStore">
          <p>
            <a class="btn btn-lg btn-success" href="#" ng-click="merchantController.saveInfo()" role="button">Save</a>
            <a class="btn btn-lg btn-success" href="#" ng-click="merchantController.cancel()" role="button">Cancel</a>
          </p>
        </div>
        <div ng-hide="merchantController.editable">
          <p><a class="btn btn-lg btn-success" href="#" ng-click="merchantController.editInfo()" role="button">Edit Store Info</a></p>
        </div>
        <div ng-show="!merchantController.noStore">
          <p><a class="btn btn-lg btn-success" href="inventory" role="button">View Inventory</a></p>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>
</body>

</html>
