<!DOCTYPE html>
<html lang="en" ng-app="LocalCart" ng-controller="StoreController as storeController">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LocalCart</title>
  <link href="static/css/bootstrap.css" rel="stylesheet">
  <link href="static/css/custom.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script type="text/javascript" src="static/controller.js"></script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home">Local Cart</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <!-- merchant toolbar -->
          <div ng-show="storeController.current_user_type == 'merchant'">
            <a href="" class="btn btn-info">Welcome [[storeController.current_user]]!</a>
            <a href="merchant" class="btn btn-info">View Profile</a>
            <a href="inventory" class="btn btn-info">View Inventory</a>
            <a ng-click="storeController.logout()" class="btn btn-success">Logout</a>
          </div>
          <!-- customer toolbar -->
          <div ng-show="storeController.current_user_type == 'customer'">
            <a href="" class="btn btn-info">Logged in as: [[indexController.current_user]]</a>
            <a href="" class="btn btn-info" data-toggle="modal" data-target="#myModal">View Shopping List</a>
            <a ng-click="storeController.logout()" class="btn btn-success">Logout</a>
          </div>
          <div ng-show="storeController.current_user_type == ''">
            <input ng-model="storeController.User.username" class="form-control" placeholder="Username" required autofocus>
            <input ng-model="storeController.User.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <a ng-click="storeController.loginAttempt()" class="btn btn-success">Login</a>
            <a href="register" class="btn btn-success">Register</a>
          </div>
        </form>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
  <!-- Page Content -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
      <h1>[[storeController.storeInfo.name]]</h1>
      <p>[[storeController.storeInfo.description]]</p>
      <p>Phone Number: [[storeController.storeInfo.phone_number]]</p>
    </header>
    <hr>
    <!-- Title -->
    <ul class="nav nav-pills">
      <li ng-class="{ active:storeController.isTabSet(0) }">
        <a href ng-click="storeController.setStoreTab(0)">Available Items!</a>
      </li>
      <li ng-class="{ active:storeController.isTabSet(1) }">
        <a href ng-click="storeController.setStoreTab(1)">Store Reviews</a>
      </li>
    </ul>
    <div ng-show="storeController.storeTab==0">
      <div class="row text-center">
        <div class="col-lg-12">
          <h3>Available Items!</h3>
        </div>
      </div>
      <div ng-repeat="product in storeController.products" ng-if="$index % 3 == 0" class="row text-center">
        <div class="col-md-4 hero-feature">
          <div class="thumbnail">
            <img src=[[storeController.products[$index].picture]] alt="No Picture Available" style="width:200px; height:auto;">
            <div class="caption">
              <h3>[[storeController.products[$index].name ]] </h3>
              <h4>[[storeController.products[$index].description ]] </h3>
              <h4>$[[storeController.products[$index].price | number:2]] </h3>
              <p>
                <a ng-click="storeController.addProduct($index)" class="btn btn-primary">Add to shopping list!</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 hero-feature" ng-if="($index + 1) < storeController.products.length">
          <div class="thumbnail">
            <img src=[[storeController.products[$index+1].picture]] alt="No Picture Available" style="width:200px; height:auto;">
            <div class="caption">
              <h3>[[storeController.products[$index + 1].name ]] </h3>
              <h4>[[storeController.products[$index + 1].description ]] </h3>
              <h4>$[[storeController.products[$index + 1].price | number:2]] </h3>
              <p>
                <a ng-click="storeController.addProduct($index + 1)" class="btn btn-primary">Add to shopping list!</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 hero-feature" ng-if="($index + 2) < storeController.products.length">
          <div class="thumbnail">
            <img src=[[storeController.products[$index+2].picture]] alt="No Picture Available" style="width:200px; height:auto;">
            <div class="caption">
              <h3>[[storeController.products[$index + 2].name ]] </h3>
              <h4>[[storeController.products[$index + 2].description ]] </h3>
              <h4>$[[storeController.products[$index + 2].price | number:2]] </h3>
              <p>
                <a ng-click="storeController.addProduct($index + 2)" class="btn btn-primary">Add to shopping list!</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="storeController.storeTab==1">
      <h4>Reviews</h4>
      <hr>
      <ul>
        <li ng-repeat="review in storeController.reviews">
          <blockquote>
            <strong>Rating: [[review.rating]]</strong>
            <p>[[review.text]]</p>
            <cite class="clearfix">- [[review.username]]</cite>
          </blockquote>
        </li>
      </ul>
      <!--  Review Form -->
      <div ng-show="storeController.current_user_type=='customer'">
        <form name="reviewForm" ng-submit="storeController.addReview()">
          <h4>Submit a Review</h4>
          <fieldset class="form-group">
            <select ng-model="storeController.review.rating" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
              <option value>Rate this store</option>
            </select>
          </fieldset>
          <fieldset class="form-group">
            <textarea ng-model="storeController.review.text" class="form-control" placeholder="Write a short review of the store..." title="Review"></textarea>
          </fieldset>
          <fieldset class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
          </fieldset>
        </form>
      </div>
      <div ng-show="storeController.current_user_type!='customer'">
        <h1> You need have a customer account to submit a review! </h1>
      </div>
      <hr>
    </div>
  </div>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your Shopping List</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-pills">
            <li ng-repeat="list in storeController.shoppingLists" ng-class="{active:storeController.isSet($index)}">
              <a href ng-click="storeController.setTab($index)">[[list.listName]]</a>
            </li>
            <li>
              <input placeholder="New list name" type="text" ng-model="storeController.newListName">
            </li>
            <li>
              <button type="button" ng-click="storeController.addList()" class="btn btn-success">Add List +</button>
            </li>
          </ul>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Map#</th>
                <th>Store</th>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Item Cost</th>
                <th>Picture</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in storeController.shoppingLists[storeController.tab].contents">
                <td>[[row.mapIndex]]</td>
                <td>[[row.storeName]]</td>
                <td>[[row.name]]</td>
                <td>[[row.description]]</td>
                <td>$[[row.price | number:2]]</td>
                <td><img class="media-object" src=[[row.picture]] alt="" style="width:64px; height:auto;"></td>
                <td><a ng-click="storeController.remove($index)" class="btn btn-danger">X</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <input placeholder="Item Name" type="text" ng-model="storeController.newItemName">
          <button type="button" class="btn btn-default" ng-click="storeController.addTextItem()">Add Item</button>
          
        </div>
        <div class="modal-footer">
          <input placeholder="Location" type="text" ng-model="storeController.resolveLocation">
          <button type="button" class="btn btn-default" ng-click="storeController.resolveList()">Resolve List</button>
          <button type="button" class="btn btn-danger" ng-click="storeController.removeList()">Delete List</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
